<p>Hi <%= name %>,</p>
<p>Use the OTP code below to complete your multi-factor authentication sign-in:</p>
<p><strong><%= otpCode %></strong></p>
<p>This code will expire in 3 minutes.</p>
<p>If you did not attempt to sign in, please secure your account immediately.</p>
